# IDE data
/.idea/

# Allowed IDE data
!/.idea/encodings.xml

# dotenv
.env

# Node packages
/node_modules/
/package-lock.json # Removing because we use yarn.lock
/yarn-error.log

# Build folder
/build/
